<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset Done</title>
</head>
<style>
    body, html {
    height: 100%;
    background-color: #ecfffe; 
    font-family: Arial, sans-serif; /* Specify font family */

    margin: 0;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    border: 2px solid black;
    border-radius: 20px;
    padding: 20px;
   
}

.btn {
    padding: 8px;
    border: none;
    cursor: pointer;
    background-color: rgb(113, 208, 221);
    margin-top: 10px;
   
}

</style>
<body>
    <div class="main">


        <div class="container">
            
            <h2>Password Reset Request Submitted</h2>
            <p>An email has been sent with instructions to reset your password. Please check your inbox.</p>
            
        </div>
    </div>
</body>
</html>
