{% extends 'base.html' %}
{% load static %}
{% block start %}
<section class="main">
    <div class="containerProfile container top">
        <div class="profile-card">
            {% if request.user.profile.profile_image %}
            <img src="{{ request.user.profile.profile_image.url }}" class="profile-image" alt="Profile Image">
            {% else %}
            <img src="{% static 'media/images/profile/profile-default.jpg'%}" class="profile-image" alt="Profile Image">

            {% endif %}
            <h2>{{ request.user.username }}</h2>
            <div class="user-info">
                <p>Email: {{ request.user.email }}</p>
                <p>Location: {{ request.user.profile.location }}</p>
                <p>Occupation: {{ request.user.profile.occupation }}</p>
                <p>Mobile: {{ request.user.profile.phone_number }}</p>
                <button class="btn  mt-2 ml-0"><a href="/logout/">Logout</a></button>
            </div>
        </div>
        <div class="skills-section">
            <h3 class="skills-title">Skills</h3>
            <ul class="skills-list">
                <li>Web Development</li>
                <li>UI/UX Design</li>
                <li>Digital Marketing</li>
                <li>Content Writing</li>
            </ul>
        </div>
    </div>

    <div class="section-2">
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            
            {% if messages %}
            <div class="error-message">
                <ul>
                    {% for message in messages %}
                    <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
            
            {{ form.as_p }}
            <button class="btn yes" type="submit">Edit Profile</button>
        </form>
    </div>
</section>

<a href="/" class="back-btn"><i class="fa-solid fa-left-long" style="color: #ffffff;"></i></a>
{% endblock %}
